* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
}

body {
    background-color: white;
}

html, body {
    margin: 0px;
    padding: 0px;
 }


.center {
    display: flex;
    align-items: center;
    justify-content: center;
}
